/* ====================
        CSS RESET 
   ====================
*/
* {
    padding: 0;
    margin: 0;
}

/* ====================
        LINKS  
   ====================
*/
a {
    color: #000;
}

a:hover {
    color: red;
}

.jumbotron {
    text-align: center;
}

/* ====================
        FORM STYLING   
   ====================
*/

.fix { 
    text-align: center;
}


.wrapper { 
    display: flex ; 
    text-align: center;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10rem ; 
}

.container { 
    display: flex ; 
    text-align: center;
    justify-content: center; 
    align-items: center; 
}

.btn { 
    margin-top: 1em ; 
}